<div class="centered-text white-background">
  <div class="charts-container">
    <div id="rants_per_day_chart" class="chart">
    </div>
    <div id="sign_ups_chart" class="chart">
    </div>
    <div id="logins_chart" class="chart">
    </div>
  </div>
</div>

