<h1 class="centered-text">Search</h1>
<hr/>

<%= form_tag('/search', method: :get, class: "search-form") do %>
  <%= text_field_tag :search %>
  <%= submit_tag "SEARCH" %>
<% end %>

<div class="search-results">
  <%= @result unless @result == nil %>
</div>
