<h1 class="centered-text">Following</h1>

<% if @following.length == 0 %>
    <p>Go find someone to follow!</p>
<% else %>
  <% @following.each do |user| %>
    <div class="user-info">
      <ul>
        <li><%= link_to User.find(user.following).username, user_path(id: user.following), class: "link-no-dec" %></li>
        <li>
          <%= image_tag(User.find(user.following).avatar.url, class: "user-pic-show") %>
        </li>
        <li><%= link_to "Unfollow", follower_path(id: user.following), method: :delete %></li>
      </ul>
    </div>
  <% end %>
<% end %>

