<h1 class="centered-text">Favorites</h1>
<br/>

<% unless @favorite_rants == nil %>

  <div class="my-rants">
    <% @favorite_rants.each do |rant| %>
      <%= render partial: "rants/rant", locals: {rant: rant} %>
    <% end %>
  </div>

<% end %>