/*
 *= require_tree .
 *= require_self
 */

$green: #38761d;

* {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  box-sizing: border-box;
  background: white;
}

body {
  margin: 0;
  min-height: 100%;
}

.centered-text {
  text-align: center;
}

h1 {
  font-size: 3.5em;
  margin: 0;
}

.white-text {
  color: white;
}

.float-left {
  float: left;
  margin-left: 3%;
}

.float-right {
  float: right;
}

.green-button {
  background-color: $green;
  font-size: 1em;

  &:hover { color: white; }
}

.big-button {
  width: 20vw;
  height: 6vh;
  font-size: 1.5em;
}

.white-box * {
  margin: auto;
  background: white;

  button {
    background: $green;
    width: 100%;
  }
}

.green-box {
  height: 50px;
  background: $green !important;
  color: white;
  text-align: center;
}

.errors {
  height: 50px;
  color: red;
  text-align: center;
}

.user-link {
  text-decoration: none;

  &:hover {
    color: $green;
  }

}

.white-background {
  background: white;
  height: 100vh;

  * {
    background: white;
  }
}

.following {
  width: 30%;
  display: inline-block;
}

.link-no-dec {
  text-decoration: none;
  color: black;

  &:hover {
    color: $green;
  }
}

.favorite-link {
  display: block;
  text-align: right;
  margin-right: 5%;
}

.search-form {
  padding-bottom: 3%;
  padding-top: 1%;

  input[type=submit] {
    background-color: $green;
    color: white;
  }

  input[type=text] {
    width: 70%
  }

}

.link-on-right {
  float: right;
  margin-right: 3vw;
}

.comment-form {

  textarea {
    width: 90%;
  }

  #small-green-button {
    color: white;
    background-color: $green;
    float: right;
    width: auto;
    height: auto;
    margin-top: 1%;
    margin-right: 5%;
  }
}

.top-padding {
  padding-top: 20px;
  margin: 0;
}