/*
 *= require_tree .
 *= require_self
 */

* {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  box-sizing: border-box;
  background: gray;
  overflow: hidden;
}

body {
  margin: 0;
  min-height: 100%;
}

.centered-text {
  text-align: center;
}

h1 {
  font-size: 3.5em;
  margin: 0;
}

.half-height {
  height: 45vh;
  width: 100%;
  background: white;

  * {
    background: white;
  }
}

.half-height-gray {
  height: 45vh  ;
  width: 100%;
  background: gray;
}

.user-pic {
  height: auto;
  width: auto;
  margin: auto;
  max-width: 150px;
  margin-top: 3vh;
}

.white-text {
  color: white;
}

.sixtywidth {
  width: 60%;
  margin: auto;
  margin-top: 5vh;

  div {
    display: inline;

    img {
      float: left;
      margin: 0 20px 0 0;
    }
  }
}

.quarterwidth {
  width: 25vw;
  height: 100vh;
  float: left;

  input[type=text], textarea {
    background: white;
    color: black;
    width: 20vw;
  }

  textarea {
    height: 40vh;
  }
}

.three-quarter-width {
  width: 75vw;
  height: 100vh;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.green-button {
  background-color: limegreen;
  font-size: 1em;
}

.big-button {
  width: 20vw;
  height: 6vh;
  font-size: 1.5em;
}

nav {
  height: 10vh;
  background: #333333;
  vertical-align: middle;

  * {
    background: #333333;
  }

  ul {
    list-style-type: none;
    margin: 0;

    * {
      vertical-align: middle;
    }

    li {
      display: inline;

      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: limegreen;
        }
      }
    }
  }
}

.white-box * {
  margin: auto;
  background: white;

  button {
    background: limegreen;
    width: 100%;
  }
}

.green-box {
  height: 50px;
  background: limegreen !important;
  color: white;
  text-align: center;
}

.errors {
  height: 50px;
  color: white;
  background-color: red;
}

.user-link {
  text-decoration: none;

  &:hover {
    color: limegreen;
  }

}

.white-background {
  background: white;

  * {
    background: white;
  }
}

.my-rants {
  p {
    margin-bottom: 0;
  }

  hr {
    margin-top: 5vh;
  }
}

.user-info {
  width: 15%;
  text-align: left;
}

.one-rant {
  overflow: auto;
  min-height: 10vh;
  width: 50px;
}

.following {
  width: 30%;
  display: inline-block;
}

.link-no-dec {
  text-decoration: none;
  color: black;

  &:hover { font-weight: bold; }
}

#home-button {
  margin-top: 3vh;
}

#logout-button {
  margin-top: -3vh;
}

.nav-buttons {
  margin-top: 2vh;
}