$green: #38761d;

.user-pic {
  height: auto;
  width: auto;
  margin: auto;
  max-width: 150px;
  margin-top: 3vh;
}

.user-pic-show {
  width: 17vw;
  margin-right: 2%;
}

.user-pic-small {
  width: 10vw;
  max-width: 100px;
}